<div class="imageview__main">
  <app-header></app-header>
  <div class="imageview__body">
    <div class="imageview__btn__main">
      <button class="btn imageview__btn btn-outline-secondary"><img
          src="../../../assets/Static/Icons//add_circle_outline_white_24dp.svg" /> Upload Image</button>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <img src="../../../assets/Static/imageview.jpg" class="card-img-top" alt="...">
          <div class="card-caption">
            <span class="card-caption-text"> Caption</span>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <img src="../../../assets/Static/imageview.jpg" class="card-img-top" alt="...">
          <div class="card-caption">
            <span class="card-caption-text"> Caption</span>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <img src="../../../assets/Static/imageview.jpg" class="card-img-top" alt="...">
          <div class="card-caption">
            <span class="card-caption-text"> Caption</span>

          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <img src="../../../assets/Static/imageview.jpg" class="card-img-top" alt="...">
          <div class="card-caption">
            <span class="card-caption-text"> Caption</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>