<!-- <div class="signup__main">
  <div class="signup__body">

    <form class="mt-2 signup__form">
      <div class="signup__header text-white">
        <span>Signup</span>
      </div>
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Last name">
        </div>
      </div>
      <input type="email" class="form-control" placeholder="Email">
      <input type="password" class="form-control" placeholder="Password">
      <div class="form-group">
        <label for="dob" class="text-white">Date of Birth</label>
        <input type="date" id="dob" class="form-control form__dob" placeholder="Date of Birth">
      </div>
      <div class="signup__btn__main">
        <button routerLink="/home" class="btn  btn-outline-secondary signup__btn">Signup</button>

      </div>

    </form>
  </div>
</div> -->
<div class="signup__main">

  <div class="container signup__main" id="">
    <div class="row">
      <div class="col-8 mobile">
        <div class="card p-3 first-card" id="sub-one">
          <img class="card-img" src="../../../assets/Static/Extra Background/1.jpg" alt="Card image">

          <!-- <blockquote class="blockquote mb-0">
          <p>Lorem ipsum dolor sit amet, consecteture erat a ante.</p>
          <footer class="blockquote-footer text-right">
            <small class="text-muted">
              Someone famous in <cite title="Source Title">Source Title</cite>
            </small>
          </footer>
        </blockquote> -->
        </div>
        <div class="card p-3 first-card" id="sub-two">
          <img class="card-img" src="../../../assets/Static/Extra Background/2.jpg" alt="Card image">

          <!-- <blockquote class="blockquote mb-0">
          <p>Lorem ipsum dolor sit amet, consecteture erat a ante.</p>
          <footer class="blockquote-footer text-right">
            <small class="text-muted">
              Someone famous in <cite title="Source Title">Source Title</cite>
            </small>
          </footer>
        </blockquote> -->
        </div>


        <div class="card p-3 second-card" id="second-one">
          <img class="card-img" src="../../../assets/Static/Extra Background/4.jpg" alt="Card image">

          <!-- <blockquote class="blockquote mb-0">
          <p>Lorem ipsum dolor sit amet, consecteture erat a ante.</p>
          <footer class="blockquote-footer text-right">
            <small class="text-muted">
              Someone famous in <cite title="Source Title">Source Title</cite>
            </small>
          </footer>
        </blockquote> -->
        </div>
        <div class="card p-3 second-card" id="second-two">
          <img class="card-img" src="../../../assets/Static/Extra Background/5.jpg" alt="Card image">
          <!-- 
        <blockquote class="blockquote mb-0">
          <p>Lorem ipsum dolor sit amet, consecteture erat a ante.</p>
          <footer class="blockquote-footer text-right">
            <small class="text-muted">
              Someone famous in <cite title="Source Title">Source Title</cite>
            </small>
          </footer>
        </blockquote> -->
        </div>
      </div>
      <div class="col-4" id="signup-card">

        <form class="shadow p-3 mb-5 bg-body rounded" id="createform" #createuser="ngForm">
          <!-- 
          {{createuser.value | json}}<br>

          {{user | json}} -->

          <h2 class="text-center signup-header">Sign Up</h2>
          <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" name="firstname" [(ngModel)]="user.first_name" id="firstName"
              aria-describedby="emailHelp" required>
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" name="lastname" [(ngModel)]="user.last_name" id="lastName"
              aria-describedby="emailHelp" required>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email_id" [(ngModel)]="user.email_id" ngModel
              id="exampleInputEmail1" aria-describedby="emailHelp" required>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="user.password"
              id="exampleInputPassword1" required>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-primary text-uppercase" routerLink="/home"
              (click)="register_user()">Sign Up</button>
            <p class="mt-3">Existing User?
              <a class="text-uppercase text-primary" routerLink="/signin">Sign In</a>
            </p>
          </div>


        </form>
      </div>

    </div>

  </div>
</div>